.container {
  min-height: calc(100vh - 65px);
  padding: 16px;
  box-sizing: border-box;
}

.mat-drawer {
  min-width: 250px;
  min-height: calc(100vh - 60px);
}

::ng-deep {
  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #fafafa;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ddd;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }
}
